

.top-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .hero-image{
        width: 70%;
        border-radius: 10%;
        margin-top: 100px;
       @media @tablet {
           display: none;
       }
    }

    .desktop-image{
        display: none;
        @media @tablet{
            display: block;
            width: 90%;
        border-radius: 10%;
        margin-top: 100px;
        }
    }

    h2{
        font-size: 36px;
        text-align: center;
        color: @dark-navy;
    }
    .left{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 30px;
        p{
            width: 90%;
            text-align: center;
            margin-bottom: 60px;
        }
        img{
            margin: 30px 0px;
        }
    }
    
}


.middle-content {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   width: 100%;




   h3{
    padding: 30px 0px;
    color: @dark-navy;
    font-size: 48px;
    span{
        color: @cyan;
    }
   }

   p{
       width: 90%;
   }

.features-bar{
    width: 100%;
    background-color: @dark-navy;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .bar-tab {
        color: @light-gray;
        font-size: 21px;
        padding: 0 5px 0 5px;
        border-left: 1px solid @light-gray;
        border-right: 1px solid @light-gray;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-color: #14C0B3;
            transition-duration: 0.2s;
        }
    }
}

.features-container{
    background-color: @dark-navy;
}

   .feature {
       padding: 30px 0px;
       background-color: @dark-navy;
       color: @light-gray;
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;

    .headline{
        font-size: 24px;
        margin-bottom: 10px;
    }

    img {
        width: 95%;
        border-radius: 5px;
        max-width: 600px;
        max-height: 400px;
    }

    p{
        width:90%;
        margin-top: 20px;
    }
   }
   
   
    button {
        margin: 30px 0px;
        width: 75%;
        max-width: 400px;
        height: 60px;
        border-radius: 10px;
        font-size: 32px;
        color: @dark-navy;
        background-color: @faded-navy;
        &:hover {
            color: @white;
            background-color: @dark-navy;
            transition-duration: 0.2s;
        }
    }
}

footer{
   margin: 40px 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h5{
        font-size: 24px;
    }
}