@mobile: ~"(max-width: 500px)";

// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@cyan: #5AE5DD;
@dark-navy: #0D122B;
@faded-navy: #97A2B9;
@light-gray: #F9F9F9;